<mat-card>
    <mat-card-header>
        <h1 mat-dialog-title>Agregar Libro</h1>
    </mat-card-header>
    <mat-card-content>
      
        <form [formGroup] ="form" >
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>isbn:</mat-label>
                        <input matInput formControlName="isbn">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                    <mat-label>nombre :</mat-label>
                        <input matInput formControlName="nombre">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                        <mat-form-field>
                        <mat-label>existencias: </mat-label>
                            <input type="number" matInput formControlName="existencias">
                        </mat-form-field>
                </div>
            </div>
              
            <mat-divider></mat-divider>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4" >
                    <button mat-raised-button color="primary" (click)="guardarFormulario()" type="submit" [disabled]="!form.valid">Guardar</button>
                    <button mat-raised-button color="primary" (click)="cerrar()" type="submit" >Guardar</button>
  
                  </div>
            </div>
        </form>
      
    </mat-card-content>
  </mat-card>